.box, .nested-box{
    text-align: center;
    background-color: rgb(0, 168, 168);
    padding: 10px;
    border: 1px solid white;
    color: white;
}
.nested-box{
    background-color: rgb(0, 189, 72);
    border: 1px solid rgb(0, 168, 168);
}
.box2{
    height: 40px;
}
.nested-box2{
    background-color: rgb(0, 189, 72);
    border: 1px solid rgb(0, 168, 168);
    height: 40px;
}
.box3{
    height: 80px;
}
.box4{
    height: 50px;
}
.black{
    background-color: black;
    
}
.orange{
    background-color: #ff9700;
}
.brown{
    background-color: #785446;
}
.green{
    background-color: #8ac149;
}
.half{
    background: linear-gradient(to right, #ff9700 50%, black 51% );
}